In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('titanic.csv')

In [20]:
data

     Survived  Pclass  Sex  Age  SibSp  Parch     Fare  Embarked
0           0       3    1   22      1      0   7.2500       3.0
1           1       1    0   38      1      0  71.2833       1.0
2           1       3    0   26      0      0   7.9250       3.0
3           1       1    0   35      1      0  53.1000       3.0
4           0       3    1   35      0      0   8.0500       3.0
..        ...     ...  ...  ...    ...    ...      ...       ...
886         0       2    1   27      0      0  13.0000       3.0
887         1       1    0   19      0      0  30.0000       3.0
888         0       3    0   29      1      2  23.4500       3.0
889         1       1    1   26      0      0  30.0000       1.0
890         0       3    1   32      0      0   7.7500       2.0

[889 rows x 8 columns]

In [4]:
data.drop(labels=['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1, inplace=True)

In [12]:
sex_ = {'male':1, 'female':0}
data['Sex'].replace(sex_, inplace=True)
embarked_ = {'C':1, 'Q': 2, 'S': 3}
data['Embarked'].replace(embarked_, inplace=True)

In [19]:
print(data.isnull().sum())

data['Age'] = data['Age'].fillna(data['Age'].mean()).astype(int)
data.dropna(inplace=True)

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [21]:
data.shape

(889, 8)

In [24]:
data['Age'].value_counts()
data = data[(data['Age'] > 0) & (data['Age'] <= 100)]

In [25]:
from sklearn.tree import DecisionTreeClassifier, plot_tree, export_graphviz
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,roc_curve

In [35]:
y = data['Survived']
X = data.drop(labels=['Survived'], axis=1)

In [36]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.25, random_state=42)

In [37]:
X_train

     Pclass  Sex  Age  SibSp  Parch      Fare  Embarked
600       2    0   24      2      1   27.0000       3.0
520       1    0   30      0      0   93.5000       3.0
450       2    1   36      1      2   27.7500       3.0
820       1    0   52      1      1   93.5000       3.0
773       3    1   29      0      0    7.2250       1.0
..      ...  ...  ...    ...    ...       ...       ...
108       3    1   38      0      0    7.8958       3.0
272       2    0   41      0      1   19.5000       3.0
869       3    1    4      1      1   11.1333       3.0
438       1    1   64      1      4  263.0000       3.0
104       3    1   37      2      0    7.9250       3.0

[661 rows x 7 columns]

In [39]:
clf = DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)

In [42]:
estimate = clf.predict(X_test)

In [44]:
print((y_test - estimate).mean())
print((y_test - estimate).std())

-0.02262443438914027
0.49948554364399467

In [45]:
accuracy_score(y_test, estimate, normalize=True, sample_weight=None)

0.751131221719457

In [46]:
import matplotlib.pylot as plt

ModuleNotFoundError: No module named 'matplotlib.pylot'

In [ ]:
fpr, tpr, _ = roc_cuvre(y_test, estimate)

plt.plot(fpr, tpr)
plt.ylabel('True Positive Rate')
plt.xlabel('False Positive Rate')
plt.show()